--
-- PostgreSQL database dump
--

\restrict Vri31EqcKRTmZSsXPl0v8tekhtq6mZNic2xpVssV7FxAMXVz6B99zZUfECuPO2T

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: bitacora_lab_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bitacora_lab_enum AS ENUM (
    'FABLAB',
    'CIENCIAS_BASICAS',
    'INFORMATICA'
);


ALTER TYPE public.bitacora_lab_enum OWNER TO postgres;

--
-- Name: bitacora_type_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.bitacora_type_enum AS ENUM (
    'Incidencia',
    'Observacion',
    'Mejora'
);


ALTER TYPE public.bitacora_type_enum OWNER TO postgres;

--
-- Name: user_rol_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_rol_enum AS ENUM (
    'Alumno',
    'Docente',
    'Admin',
    'SuperUser'
);


ALTER TYPE public.user_rol_enum OWNER TO postgres;

--
-- Name: wiki_doc_category_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.wiki_doc_category_enum AS ENUM (
    'Protocolo',
    'Manual',
    'Guia'
);


ALTER TYPE public.wiki_doc_category_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin_task (
    id integer NOT NULL,
    description character varying NOT NULL,
    status character varying DEFAULT 'pending'::character varying NOT NULL,
    priority character varying DEFAULT 'Media'::character varying NOT NULL,
    "dueDate" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_task OWNER TO postgres;

--
-- Name: admin_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_task_id_seq OWNER TO postgres;

--
-- Name: admin_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_task_id_seq OWNED BY public.admin_task.id;


--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_log (
    id integer NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    nombre character varying NOT NULL,
    usuario character varying NOT NULL,
    rol character varying NOT NULL,
    accion character varying NOT NULL,
    detalle text NOT NULL
);


ALTER TABLE public.audit_log OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_log_id_seq OWNER TO postgres;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: bitacora; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bitacora (
    id integer NOT NULL,
    date timestamp without time zone DEFAULT now() NOT NULL,
    lab public.bitacora_lab_enum NOT NULL,
    section character varying NOT NULL,
    type public.bitacora_type_enum DEFAULT 'Incidencia'::public.bitacora_type_enum NOT NULL,
    description text NOT NULL,
    "adminName" character varying NOT NULL,
    "adminId" integer
);


ALTER TABLE public.bitacora OWNER TO postgres;

--
-- Name: bitacora_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bitacora_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bitacora_id_seq OWNER TO postgres;

--
-- Name: bitacora_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bitacora_id_seq OWNED BY public.bitacora.id;


--
-- Name: inventory_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_item (
    id integer NOT NULL,
    "tipoInventario" character varying NOT NULL,
    categoria character varying NOT NULL,
    "subCategoria" character varying NOT NULL,
    marca character varying NOT NULL,
    modelo character varying NOT NULL,
    sn character varying,
    status character varying NOT NULL,
    so character varying,
    ram character varying,
    rom character varying,
    "stockActual" integer DEFAULT 0 NOT NULL,
    "stockMinimo" integer DEFAULT 0 NOT NULL,
    "stockDefectuoso" integer DEFAULT 0 NOT NULL,
    "esFungible" boolean DEFAULT false NOT NULL,
    "imagenUrl" character varying,
    "numeroFactura" character varying,
    "fechaLlegada" character varying,
    "cantidadLlegada" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "softwareInstalado" text,
    procesador character varying,
    "rotulo_ID" character varying
);


ALTER TABLE public.inventory_item OWNER TO postgres;

--
-- Name: inventory_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_item_id_seq OWNER TO postgres;

--
-- Name: inventory_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_item_id_seq OWNED BY public.inventory_item.id;


--
-- Name: maintenance_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_task (
    id integer NOT NULL,
    "itemId" integer NOT NULL,
    "itemName" character varying NOT NULL,
    type character varying NOT NULL,
    priority character varying NOT NULL,
    status character varying NOT NULL,
    technician character varying NOT NULL,
    cost double precision NOT NULL,
    description text NOT NULL,
    "dateScheduled" character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.maintenance_task OWNER TO postgres;

--
-- Name: maintenance_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.maintenance_task_id_seq OWNER TO postgres;

--
-- Name: maintenance_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_task_id_seq OWNED BY public.maintenance_task.id;


--
-- Name: message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message (
    id integer NOT NULL,
    "ticketId" bigint NOT NULL,
    sender character varying NOT NULL,
    text text NOT NULL,
    "timestamp" character varying NOT NULL,
    "senderRole" character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.message OWNER TO postgres;

--
-- Name: message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.message_id_seq OWNER TO postgres;

--
-- Name: message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.message_id_seq OWNED BY public.message.id;


--
-- Name: project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text NOT NULL,
    "startDate" character varying NOT NULL,
    "endDate" character varying NOT NULL,
    status character varying DEFAULT 'Planeacion'::character varying NOT NULL,
    color character varying NOT NULL,
    "managerId" integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.project OWNER TO postgres;

--
-- Name: project_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_id_seq OWNER TO postgres;

--
-- Name: project_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_id_seq OWNED BY public.project.id;


--
-- Name: project_task; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_task (
    id integer NOT NULL,
    name character varying NOT NULL,
    "startDate" character varying NOT NULL,
    "endDate" character varying NOT NULL,
    progress integer DEFAULT 0 NOT NULL,
    "projectId" integer NOT NULL,
    "assigneeId" integer
);


ALTER TABLE public.project_task OWNER TO postgres;

--
-- Name: project_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.project_task_id_seq OWNER TO postgres;

--
-- Name: project_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_task_id_seq OWNED BY public.project_task.id;


--
-- Name: purchase_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.purchase_order (
    id integer NOT NULL,
    lab character varying NOT NULL,
    item character varying NOT NULL,
    cantidad integer NOT NULL,
    "valorUnitario" double precision NOT NULL,
    "valorTotal" double precision NOT NULL,
    "fechaSolicitud" character varying NOT NULL,
    stage character varying DEFAULT 'Solicitud'::character varying NOT NULL,
    observaciones character varying,
    "idNum" character varying,
    "linkReferencia" character varying,
    proveedor character varying,
    "rutProveedor" character varying,
    "productoAdjudicado" character varying,
    "precioAdjudicado" double precision,
    "cantidadAdjudicada" integer,
    "numeroOC" character varying,
    "numeroCotizacion" character varying,
    "numeroFactura" character varying,
    "fechaFactura" character varying,
    "fechaEntrega" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.purchase_order OWNER TO postgres;

--
-- Name: purchase_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.purchase_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_order_id_seq OWNER TO postgres;

--
-- Name: purchase_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.purchase_order_id_seq OWNED BY public.purchase_order.id;


--
-- Name: reservation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reservation (
    id integer NOT NULL,
    "equipoId" integer NOT NULL,
    fecha character varying NOT NULL,
    bloque character varying NOT NULL,
    cantidad integer NOT NULL,
    "nombreSolicitante" character varying NOT NULL,
    "rutSolicitante" character varying NOT NULL,
    "emailSolicitante" character varying NOT NULL,
    "tipoUsuario" character varying NOT NULL,
    aprobada boolean DEFAULT false NOT NULL,
    rechazada boolean DEFAULT false NOT NULL,
    "motivoRechazo" character varying,
    devuelto integer,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "userId" integer,
    "clockIn" timestamp without time zone,
    "clockOut" timestamp without time zone
);


ALTER TABLE public.reservation OWNER TO postgres;

--
-- Name: reservation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reservation_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reservation_id_seq OWNER TO postgres;

--
-- Name: reservation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reservation_id_seq OWNED BY public.reservation.id;


--
-- Name: schedule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.schedule (
    id integer NOT NULL,
    lab character varying NOT NULL,
    day character varying NOT NULL,
    block character varying NOT NULL,
    subject character varying NOT NULL,
    color character varying
);


ALTER TABLE public.schedule OWNER TO postgres;

--
-- Name: schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.schedule_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.schedule_id_seq OWNER TO postgres;

--
-- Name: schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.schedule_id_seq OWNED BY public.schedule.id;


--
-- Name: ticket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket (
    id bigint NOT NULL,
    "userId" integer NOT NULL,
    "userName" character varying NOT NULL,
    "userEmail" character varying NOT NULL,
    subject character varying NOT NULL,
    "lastMessage" character varying,
    "lastUpdate" character varying,
    status character varying DEFAULT 'Open'::character varying NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ticket OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    "nombreCompleto" character varying NOT NULL,
    rut character varying NOT NULL,
    correo character varying NOT NULL,
    password character varying NOT NULL,
    rol public.user_rol_enum DEFAULT 'Alumno'::public.user_rol_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    carrera character varying,
    "anioIngreso" integer
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: wiki_doc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wiki_doc (
    id integer NOT NULL,
    title character varying NOT NULL,
    category public.wiki_doc_category_enum DEFAULT 'Guia'::public.wiki_doc_category_enum NOT NULL,
    content text NOT NULL,
    "fileUrl" character varying,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    "isPublic" boolean DEFAULT true NOT NULL
);


ALTER TABLE public.wiki_doc OWNER TO postgres;

--
-- Name: wiki_doc_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.wiki_doc_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.wiki_doc_id_seq OWNER TO postgres;

--
-- Name: wiki_doc_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.wiki_doc_id_seq OWNED BY public.wiki_doc.id;


--
-- Name: admin_task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_task ALTER COLUMN id SET DEFAULT nextval('public.admin_task_id_seq'::regclass);


--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Name: bitacora id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bitacora ALTER COLUMN id SET DEFAULT nextval('public.bitacora_id_seq'::regclass);


--
-- Name: inventory_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item ALTER COLUMN id SET DEFAULT nextval('public.inventory_item_id_seq'::regclass);


--
-- Name: maintenance_task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_task ALTER COLUMN id SET DEFAULT nextval('public.maintenance_task_id_seq'::regclass);


--
-- Name: message id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message ALTER COLUMN id SET DEFAULT nextval('public.message_id_seq'::regclass);


--
-- Name: project id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project ALTER COLUMN id SET DEFAULT nextval('public.project_id_seq'::regclass);


--
-- Name: project_task id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_task ALTER COLUMN id SET DEFAULT nextval('public.project_task_id_seq'::regclass);


--
-- Name: purchase_order id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order ALTER COLUMN id SET DEFAULT nextval('public.purchase_order_id_seq'::regclass);


--
-- Name: reservation id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation ALTER COLUMN id SET DEFAULT nextval('public.reservation_id_seq'::regclass);


--
-- Name: schedule id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedule ALTER COLUMN id SET DEFAULT nextval('public.schedule_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: wiki_doc id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wiki_doc ALTER COLUMN id SET DEFAULT nextval('public.wiki_doc_id_seq'::regclass);


--
-- Data for Name: admin_task; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin_task (id, description, status, priority, "dueDate", "createdAt") FROM stdin;
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bitacora; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bitacora (id, date, lab, section, type, description, "adminName", "adminId") FROM stdin;
\.


--
-- Data for Name: inventory_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: maintenance_task; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_task (id, "itemId", "itemName", type, priority, status, technician, cost, description, "dateScheduled", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project (id, name, description, "startDate", "endDate", status, color, "managerId", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: project_task; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_task (id, name, "startDate", "endDate", progress, "projectId", "assigneeId") FROM stdin;
\.


--
-- Data for Name: purchase_order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.purchase_order (id, lab, item, cantidad, "valorUnitario", "valorTotal", "fechaSolicitud", stage, observaciones, "idNum", "linkReferencia", proveedor, "rutProveedor", "productoAdjudicado", "precioAdjudicado", "cantidadAdjudicada", "numeroOC", "numeroCotizacion", "numeroFactura", "fechaFactura", "fechaEntrega", "createdAt") FROM stdin;
\.


--
-- Data for Name: reservation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reservation (id, "equipoId", fecha, bloque, cantidad, "nombreSolicitante", "rutSolicitante", "emailSolicitante", "tipoUsuario", aprobada, rechazada, "motivoRechazo", devuelto, "createdAt", "updatedAt", "userId", "clockIn", "clockOut") FROM stdin;
\.


--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ticket; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: wiki_doc; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.wiki_doc (id, title, category, content, "fileUrl", "createdAt", "updatedAt", "isPublic") FROM stdin;
\.


--
-- Name: admin_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_task_id_seq', 1, true);


--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 33, true);


--
-- Name: bitacora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bitacora_id_seq', 1, false);


--
-- Name: inventory_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_item_id_seq', 873, true);


--
-- Name: maintenance_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_task_id_seq', 1, false);


--
-- Name: message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_id_seq', 16, true);


--
-- Name: project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_id_seq', 1, true);


--
-- Name: project_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_task_id_seq', 1, false);


--
-- Name: purchase_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.purchase_order_id_seq', 1, false);


--
-- Name: reservation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reservation_id_seq', 1, false);


--
-- Name: schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.schedule_id_seq', 67, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 3, true);


--
-- Name: wiki_doc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.wiki_doc_id_seq', 1, false);


--
-- Name: audit_log PK_07fefa57f7f5ab8fc3f52b3ed0b; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT "PK_07fefa57f7f5ab8fc3f52b3ed0b" PRIMARY KEY (id);


--
-- Name: schedule PK_1c05e42aec7371641193e180046; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT "PK_1c05e42aec7371641193e180046" PRIMARY KEY (id);


--
-- Name: reservation PK_48b1f9922368359ab88e8bfa525; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reservation
    ADD CONSTRAINT "PK_48b1f9922368359ab88e8bfa525" PRIMARY KEY (id);


--
-- Name: project PK_4d68b1358bb5b766d3e78f32f57; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT "PK_4d68b1358bb5b766d3e78f32f57" PRIMARY KEY (id);


--
-- Name: maintenance_task PK_4ea1f848fea0a07d1d73c9eb5ea; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_task
    ADD CONSTRAINT "PK_4ea1f848fea0a07d1d73c9eb5ea" PRIMARY KEY (id);


--
-- Name: wiki_doc PK_6ab65ca3a1e9fd60d56a6bc0098; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wiki_doc
    ADD CONSTRAINT "PK_6ab65ca3a1e9fd60d56a6bc0098" PRIMARY KEY (id);


--
-- Name: admin_task PK_8064eb85d138a33a3568a82cf83; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin_task
    ADD CONSTRAINT "PK_8064eb85d138a33a3568a82cf83" PRIMARY KEY (id);


--
-- Name: inventory_item PK_94f5cbcb5f280f2f30bd4a9fd90; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT "PK_94f5cbcb5f280f2f30bd4a9fd90" PRIMARY KEY (id);


--
-- Name: purchase_order PK_ad3e1c7b862f4043b103a6c8c60; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.purchase_order
    ADD CONSTRAINT "PK_ad3e1c7b862f4043b103a6c8c60" PRIMARY KEY (id);


--
-- Name: message PK_ba01f0a3e0123651915008bc578; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "PK_ba01f0a3e0123651915008bc578" PRIMARY KEY (id);


--
-- Name: user PK_cace4a159ff9f2512dd42373760; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_cace4a159ff9f2512dd42373760" PRIMARY KEY (id);


--
-- Name: ticket PK_d9a0835407701eb86f874474b7c; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket
    ADD CONSTRAINT "PK_d9a0835407701eb86f874474b7c" PRIMARY KEY (id);


--
-- Name: bitacora PK_e08eb7c81388757d9e53d62246e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bitacora
    ADD CONSTRAINT "PK_e08eb7c81388757d9e53d62246e" PRIMARY KEY (id);


--
-- Name: project_task PK_f8275249858f42bc01e47cb979d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_task
    ADD CONSTRAINT "PK_f8275249858f42bc01e47cb979d" PRIMARY KEY (id);


--
-- Name: user UQ_37e80954fd8499125ff14c586dd; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_37e80954fd8499125ff14c586dd" UNIQUE (correo);


--
-- Name: user UQ_9f839e522b3b8c8c8223cde81db; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_9f839e522b3b8c8c8223cde81db" UNIQUE (rut);


--
-- Name: message FK_0b780eaa7d705c91500fc22bf8c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message
    ADD CONSTRAINT "FK_0b780eaa7d705c91500fc22bf8c" FOREIGN KEY ("ticketId") REFERENCES public.ticket(id);


--
-- Name: project FK_33a588338bd946c9295c316d4bb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT "FK_33a588338bd946c9295c316d4bb" FOREIGN KEY ("managerId") REFERENCES public."user"(id);


--
-- Name: project_task FK_7c7dbae51a68fe4d8e87bf74508; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_task
    ADD CONSTRAINT "FK_7c7dbae51a68fe4d8e87bf74508" FOREIGN KEY ("assigneeId") REFERENCES public."user"(id);


--
-- Name: project_task FK_a81f1f3ca71d469236a55e2bcaa; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_task
    ADD CONSTRAINT "FK_a81f1f3ca71d469236a55e2bcaa" FOREIGN KEY ("projectId") REFERENCES public.project(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Vri31EqcKRTmZSsXPl0v8tekhtq6mZNic2xpVssV7FxAMXVz6B99zZUfECuPO2T

